<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Unique Studio</title>
    {% endif %}
    <link rel="icon" href="/static/images/unique_studio.jpg">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/script.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="title">Unique Studio</h1>
        <p class="subtitle">Your Beauty Destination</p>
    </div>
    <div class="menu">
      <table>
        <tr>
          <td>
            <a href="/home" class="link">Home</a>
            <a href="/clients" class="link">Clients</a>
            <a href="/calendar" class="link">Calendar</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <p>&copy; Unique Studio SRL</p>
    </div>
  </body>
</html>